{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>Collaborate with Us</h2> <!-- Add this line -->
    <p>I believe in the power of shared knowledge and collective effort.
        Whether you have a project in mind, wish to co-author
        an article, or simply want to brainstorm some ideas,
        I'm excited to hear from you. Fill out the form
        and we can get the ball rolling!</p>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }} <!-- Render the form using crispy -->
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}